@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
/*
  These files contains the css of the home page
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700");
#portfolio,
#services,
#skills,
#about,
#contact,
#header {
  padding-left: 7rem;
  padding-right: 7rem; }

.section-title {
  font-size: 2.5rem;
  margin: 7rem 0 2rem; }

code {
  color: #E80000;
  background-color: transparent; }

#cover-image {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -15000;
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/notebook-desktop.jpg"), url("images/notebook-desktop.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: none; }

#header {
  position: relative;
  font-size: 4.5rem;
  color: #F5F5F5;
  height: 100%;
  min-height: 100%;
  z-index: -10; }
  #header .row {
    height: 100%; }

#about {
  z-index: -10;
  font-size: 2.25rem;
  position: relative;
  background-color: #f5f8fa; }
  #about mark {
    background-color: #383838;
    color: #F5F5F5; }
  #about .p-with-list {
    display: inline; }
  #about ul {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding-left: 0; }
    #about ul li {
      text-align: center;
      display: block;
      list-style: none; }

#skills {
  background-color: #f5f8fa;
  position: relative;
  z-index: -10;
  font-size: 2.25rem; }
  #skills .skill-name {
    margin: 1rem 0;
    font-size: 2.25rem;
    font-weight: 400;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #F5F5F5;
    color: #383838; }
  #skills .progress {
    height: 3.8rem;
    font-size: 2.0rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 0; }
  #skills .fa-pencil,
  #skills .fa-times {
    margin: 1rem 0;
    font-size: 3.25rem !important; }

#portfolio {
  z-index: -10;
  position: relative;
  background-color: #383838;
  color: #A5A5A5;
  font-size: 2.25rem; }
  #portfolio img {
    position: relative;
    z-index: 1000000;
    display: block;
    max-width: 100%; }
  #portfolio .portfolio-container {
    position: relative;
    z-index: 0;
    padding: 2px; }
    #portfolio .portfolio-container .portfolio-info-container {
      opacity: 0;
      font-size: 2.25rem;
      position: absolute;
      top: 100%;
      z-index: 1000;
      transition: all 1s;
      background-color: #383838;
      color: #A5A5A5; }
      #portfolio .portfolio-container .portfolio-info-container p {
        padding: 0.5rem 1rem;
        color: #E80000;
        font-weight: 500; }
    #portfolio .portfolio-container:hover .portfolio-info-container {
      opacity: 1;
      top: 80%;
      z-index: 1000;
      transition: all 1s; }
  #portfolio .admin-button {
    position: absolute;
    top: 10px;
    z-index: 10; }
  #portfolio .edit-button {
    right: 10px; }
  #portfolio .delete-button {
    left: 10px; }
  #portfolio .image-container {
    position: relative;
    z-index: 5;
    display: block; }

#services {
  position: relative;
  font-size: 2.25rem;
  z-index: -10;
  min-height: 100%;
  background-color: #383838;
  color: #F5F5F5; }
  #services .service-title {
    font-size: 3rem; }
    #services .service-title h3 {
      font-size: 3rem;
      vertical-align: bottom;
      margin-bottom: 0; }
    #services .service-title .fa-stack {
      text-shadow: 2px -2px 5px #777; }
  #services .service-body {
    padding: 2rem 1rem; }
    #services .service-body p {
      font-size: 2.25rem; }

#contact {
  position: relative;
  z-index: -10;
  background-color: #f5f8fa;
  font-size: 2.25rem; }
  #contact .dcmf-form-control {
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #A5A5A5;
    outline: none;
    font-size: 2.25rem;
    padding: 0 0.5rem;
    margin: 1rem 0; }
    #contact .dcmf-form-control::placeholder {
      color: #A5A5A5; }
  #contact textarea {
    resize: none; }

footer {
  background-color: black;
  padding: 3.8rem;
  font-size: 2.25rem; }
  footer a {
    color: #383838;
    transition: all 0.5s; }
  footer .smooth-scroll-up {
    position: fixed;
    right: 2.25rem;
    bottom: 2.25rem; }
    footer .smooth-scroll-up .scroll-up {
      position: relative;
      top: 0;
      transition: all 0.5s; }
      footer .smooth-scroll-up .scroll-up:hover {
        top: -15px;
        transition: all 0.5s; }

.fa-times,
.fa-pencil {
  font-size: 2.25rem;
  vertical-align: middle; }

.modal,
.modal * {
  font-size: 2rem; }

.navbar-toggler {
  background-color: #383838;
  color: #F5F5F5; }

#navbar-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.dcmf-navbar-container {
  padding: 0 !important;
  z-index: 1000; }
  .dcmf-navbar-container .navbar-brand {
    display: none; }
  .dcmf-navbar-container .dcmf-navbar {
    position: absolute;
    width: 25%;
    height: 100%;
    overflow: hidden;
    background-color: #383838;
    text-transform: uppercase; }
    .dcmf-navbar-container .dcmf-navbar .navbar-nav {
      padding-top: 5rem; }

.nav-item {
  font-size: 3rem;
  z-index: 2000;
  transition: all 0.5s; }
  .nav-item .nav-link {
    background-color: #383838;
    color: #F5F5F5;
    padding: 0.8rem;
    font-weight: 400;
    transition: all 0.5s;
    text-align: left; }
    .nav-item .nav-link i {
      margin: 0 1rem 0 4rem; }
  .nav-item:hover .nav-link {
    color: #E80000;
    font-weight: 500;
    transition: all 0.5s; }
  .nav-item .nav-link.active {
    padding: 0.8rem 1.5rem;
    color: #F5F5F5;
    background-color: #007bff;
    font-weight: 500; }

.nav-link {
  z-index: 10; }

.dcmf-container {
  color: #333; }
  .dcmf-container div {
    display: inline-block; }
    .dcmf-container div:first-child, .dcmf-container div:last-child {
      font-weight: bold; }
    .dcmf-container div:not(:first-child):not(:last-child)::first-letter {
      color: white;
      background-color: red;
      border: 1px solid #090f0f;
      padding: 0 0.15rem;
      margin: 0 0.1rem; }
    .dcmf-container div:nth-child(5)::first-letter {
      padding: 0 0.25rem !important; }

.dcmf-container-block {
  font-size: 4.5rem; }
  .dcmf-container-block .logo-bracket {
    display: inline-block;
    width: 4.5rem;
    text-align: center; }
  .dcmf-container-block .logo-part:nth-child(2) {
    display: inline-block; }
  .dcmf-container-block .logo-part {
    margin-bottom: 0.5rem; }
  .dcmf-container-block .capital {
    font-family: 'Roboto Mono', monospace;
    color: #F5F5F5;
    background-color: #E80000;
    border: 1px solid #090f0f;
    margin-right: 0.12em;
    font-weight: 400;
    padding: 0 0.5rem;
    line-height: 0.25rem; }
  .dcmf-container-block .logo-part-last {
    display: inline-block; }
  .dcmf-container-block .one-char-margin {
    margin-left: 4.5rem; }

.shadow {
  text-shadow: 2px 2px #383838; }

@media only screen and (max-width: 767px) {
  html {
    font-size: 31.5%; }

  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header {
    padding-left: 3rem;
    padding-right: 3rem; }

  .dcmf-navbar-container .dcmf-navbar {
    width: 100%;
    border-radius: 0px; }
    .dcmf-navbar-container .dcmf-navbar .navbar-nav {
      padding-top: 15rem;
      padding-left: 35%; }

  #header {
    background-image: url("../images/notebook-desktop.jpg"), url("images/notebook-desktop.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 50%; }

  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header {
    padding-left: 2rem;
    padding-right: 2rem; } }
@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%; }

  #cover-image {
    display: block; }

  #header {
    background-image: none; }

  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header {
    padding-left: 7rem;
    padding-right: 7rem; } }
html {
  min-height: 100%; }

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  min-width: 100%; }

.see-borders * {
  border: 1px solid black; }

.clickable:hover {
  cursor: pointer; }

input[type=file] {
  display: none; }

#logout-button {
  position: fixed;
  bottom: 2rem;
  left: 2rem; }

section, nav, footer {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: -1px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

/*# sourceMappingURL=dcmf-styles.css.map */
