@media only screen and (max-width: 767px){
  html{font-size: 31.5%;}
  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .dcmf-navbar-container .dcmf-navbar{
    width: 100%;
    border-radius: 0px;
    .navbar-nav{
      padding-top: 15rem;
      padding-left: 35%;
    }
  }
  #header{
    background-image: url("../images/notebook-desktop.jpg"), url("images/notebook-desktop.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
  html{font-size: 50%;}
  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 768px){
  html{font-size: 62.5%;}
  #cover-image{display: block;}
  #header{background-image: none;}
  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header{
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
