@media only screen and (min-width: 320px){
  html{font-size: 80%;}
  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header{
    -webkit-transform: translate3d(0,0,0);
  }
}

@media only screen and (max-width: 767px){
  html{font-size: 100%;}
  body{font-size: 1rem;}
  .navbar .navbar-brand{display:inline;}
  .dcmf-navbar-container{top:0}
  .dcmf-navbar-container .dcmf-navbar{
    transform: rotate(0deg);
    width: 100%;
    border-radius: 0px;
  }
  .active,
  .nav-item *,
  .nav-item:hover *{border-radius:0px!important;}
  #portfolio,
  #services,
  #skills,
  #about,
  #contact,
  #header{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  #header{
    background-image: url("../storage/images/notebook-desktop.jpg"), url("storage/images/notebook-desktop.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 768px){
  html{font-size: 140%;}
  #cover-image{display: block;}
  #header{background-image: none;}
}
