@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transform-origin($x, $y){
  -webkit-transform-origin: $x $y;
  -moz-transform-origin:    $x $y;
  -ms-transform-origin:     $x $y;
  -o-transform-origin:      $x $y;
  transform-origin:         $x $y;
}

.navbar-toggler{
  background-color: $dark-grey;
  color: $extra-light-grey;
}

#navbar-content{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dcmf-navbar-container{
  padding: 0!important;
  z-index: 1000;
  .navbar-brand{
    display:none;
  }
  .dcmf-navbar {
    position: absolute;
    width: 25%;
    height: 100%;
    overflow: hidden;
    background-color: $dark-grey;
    text-transform: uppercase;
    .navbar-nav{
      padding-top: 5rem;
    }
  }
}

.nav-item{
  font-size: 3rem;
  z-index: 2000;
  .nav-link{
    background-color: $dark-grey;
    color: $extra-light-grey;
    padding: 0.8rem;
    font-weight: 400;
    transition: all 0.5s;
    text-align: left;
    i{
      margin: 0 1rem 0 4rem;
    }
  }
  transition: all 0.5s;
  &:hover{
    .nav-link{
      color: $red;
      font-weight: 500;
      transition: all 0.5s;
    }
  }

  .nav-link.active{
    padding: 0.8rem 1.5rem;
    color: $extra-light-grey;
    background-color: $blue;
    font-weight: 500;
  }
}
.nav-link {
  z-index: 10;
}
